.navPanel {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    position: fixed;
    height: 7%;
    z-index: 100;
    background-color: white;
    display: flex;
}
  
.logo {
    height: 100%;
    margin-left: 50px;
    position: absolute;
}

.button {
    margin-right: 10px;
    height: 100%;
}
  
  
  