.cardStyle {
    padding: 20px;
    border: 1px solid #000;
    background-color: #fff;
    cursor: pointer;
    color: black;
    width: 300px;
    width: 200px;
    box-sizing: content-box;
    text-align: left;
}

  
.img {
    height: 150px;
    width: 150px;
    box-sizing: content-box;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
  
  
.name {
    font-weight: bold;
}
  
.description {
    overflow: hidden;
    text-overflow: ellipsis; 
    display: -webkit-box;
    width: 250px;
    -webkit-box-orient: vertical;
}