.sideMenu {
  background-color: #fff;
  width: 250px;
  position: fixed;
  /* top: 0; */
  height: 100%;
  left: -250px; /* Скрываем боковое меню */
  transition: left 0.3s ease; /* Плавная анимация */
  height: 100vh;
  z-index: 10; /* Помещаем боковое меню поверх других элементов */
  box-sizing: content-box;
}

.sideMenu-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.sideMenu-item:hover {
  background-color: #f0f0f0;
}

.sideMenu.show { 
  left: 0;
  background-color: #fff;
  width: 250px;
  height: 100%;
} 


.checkBox {
    width: 20px;
    height: 20px;
    background: red;
}
.checkBox.clicked {
    width: 20px;
    height: 20px;
    background: green;
}
